@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --main-menu-color: #294272;
    --secondary-menu-color: #365898;
    --main-menu-text-shadows: 1px 1px 2px #000000;
}

.custom-navbar {
    background-color: var(--main-menu-color);
    border-color: #00006a;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(var(--secondary-menu-color)), to(var(--main-menu-color)));
    background-image: -webkit-linear-gradient(top, var(--secondary-menu-color), 0%, var(--main-menu-color), 100%);
    background-image: -moz-linear-gradient(top, var(--secondary-menu-color), 0%, var(--main-menu-color), 100%);
    background-image: linear-gradient(to bottom, var(--secondary-menu-color), 0%, var(--main-menu-color), 100%);
    background-repeat: repeat-x;
    text-shadow: var(--main-menu-text-shadows);
}

.custom-navbar .navbar-brand {
    color: #fff;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .navbar-brand:focus {
    color: #cecece;
    background-color: transparent;
    border-radius: 50px;
}

.custom-navbar .navbar-nav > li > a {
    color: #fff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}

.active-menu {
    border-bottom: 1px solid #cecece;
    color: #c0c0c0;
    background-color: #20345a;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#20345a), to(#2e4a7f));
    background-image: -webkit-linear-gradient(top, #20345a, 0%, #2e4a7f, 100%);
    background-image: -moz-linear-gradient(top, #20345a 0%, #2e4a7f 100%);
    background-image: linear-gradient(to bottom, #20345a 0%, #2e4a7f 100%);
    background-repeat: repeat-x;
}

.icon-bar {
    background-color: #fff;
}

@media only screen and (max-width: 768px) {
    .active-menu {
        border-bottom: none;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat-x;
    }
}